.Biryani {
    font-size: 40px;
    font-weight: 1000;
    color: purple;
    background-color: brown;
    text-align: center;
}

body {
    font-size: 25px;
}

h1 {
    color: blue;
    text-align: center;
}

p {
    color: red;
}